
<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon name="person-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Permissions</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-bg">
    <div class="page-header"></div>
    <div class="table-responsive">
      <div class="title">
        <p>All Permissions</p>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Update Settings</td>
          </tr>
          <tr>
            <td>View User</td>
          </tr>
          <tr>
            <td>Create User</td>
          </tr>
          <tr>
            <td>Update User</td>
          </tr>
          <tr>
            <td>Delete User</td>
          </tr>
          <tr>
            <td>View Role</td>
          </tr>
          <tr>
            <td>View Permission</td>
          </tr>
          <tr>
            <td>Create Role</td>
          </tr>
          <tr>
            <td>Create Permission</td>
          </tr>
          <tr>
            <td>Update Role</td>
          </tr>
          <tr>
            <td>Update Permission</td>
          </tr>
          <tr>
            <td>Delete Role</td>
          </tr>
          <tr>
            <td>Delete Permission</td>
          </tr>
          <tr>
            <td>View Activity Log</td>
          </tr>
          <tr>
            <td>View Category</td>
          </tr>
          <tr>
            <td>Create Category</td>
          </tr>
          <tr>
            <td>Update Category</td>
          </tr>
          <tr>
            <td>Delete Category</td>
          </tr>
          <tr>
            <td>View Post</td>
          </tr>
          <tr>
            <td>Create Post</td>
          </tr>
          <tr>
            <td>Update Post</td>
          </tr>
          <tr>
            <td>Delete Post</td>
          </tr>
          <tr>
            <td>Bulk Upload</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>