.table-responsive {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 0.375rem;
    width: 98%;
    margin: 0 auto;
    position: absolute;
    top: 30px;
    left: 10px;
    z-index: 99;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
}

.main-bg {
    position: relative;
}


.table thead th {
    background-color: #f0f3f7;
    color: #8898aa;
    padding: 10px 5px;
    font-size: 12px;
    border-top: 1px solid #e9ecef;
    font-weight: 500 !important;
}

.table th {
    text-align: left;
}

.table td {
    color: #8898aa;
    padding: 10px 5px;
    font-size: 12px;
    border-top: 1px solid #e9ecef;
}

.title {
    color: #8898aa;
    font-weight: 600;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.title p {
    margin-bottom: 0px !important;
    font-size: 17px;
}

.page-header {
    height: 110px;
    width: 100%;
    background: linear-gradient(87deg,#5e72e4,#825ee4)!important;
}

ion-toolbar {
    --background: linear-gradient(87deg,#5e72e4,#825ee4)!important;
    color: #FFF;
}

form {
    //background-color: #F00;
    width: 100%;
}

ion-select {
    width: 100% !important;
    color: rgba(0, 0, 0, 0.5);
}


ion-radio {
    width: 11px !important;
    height: 11px !important;
}

ion-radio-group ion-label {
    padding-left: 7px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}

ul li {
    list-style-type: none;
    float: left;
    padding: 0 7px;
}

ul {
    padding-inline-start: 0px !important;
}

.inputDiv {
    width: 60%;
    margin: 0 auto;
    padding-top: 10px;
}

.inputDiv p {
    margin-bottom: 2px;
}

.topForm {
    border-bottom: solid 1px #e2e5e9;
}

form ion-label {
    color: rgba(0, 0, 0, 0.5);
}

.delete {
    color: #FFF;
    background: #f60b0b;
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
}

.edit {
    color: #FFF;
    background: #2dd36f;
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
}

.view {
    color: #FFF;
    background: #6f69e4;
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
}

.refresh {
    color: #FFF;
    background: #cebebe;
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
}

table ion-icon {
    margin-left: 5px;
}

.user {
    color: #FFF;
    background: #6c6969;
    padding: 5px;
    border-radius: 7px;
}

ion-badge {
    font-size: 10px !important;
    font-weight: 500 !important;
    margin: 0px 3px !important;
    padding: 5px !important;
}

.table td:first-child{
    width: 20%;
}

.table th:first-child{
    width: 20%;
}

.table td:last-child{
    width: 20%;
}

.table th:last-child{
    width: 20%;
}