
<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon name="person-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>History</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-bg">
    <div class="page-header"></div>
    <div class="table-responsive">
      <div class="title">
        <p>Search History</p>
      </div>
      <form>
        <ion-grid class="topForm">
          <ion-row>
            <ion-col size="4">
              <ion-item>
                <ion-label position="stacked">Start Date</ion-label>
                <ion-input
                  value="{{ startDate | date: 'dd/MM/yyyy' }}"
                  id="startDate"
                  placeholder="Start Date"
                ></ion-input>
                <ion-popover trigger="startDate" size="cover">
                  <ng-template>
                    <ion-datetime
                      presentation="date"
                      [(ngModel)]="startDate"
                      name="startDate"
                    >
                    <div slot="title">{{year}}</div>
                  </ion-datetime>
                  </ng-template>
                </ion-popover>
              </ion-item>
            </ion-col>
            <ion-col size="4">
              <ion-item>
                <ion-label position="stacked">End Date</ion-label>
                <ion-input
                  value="{{ endDate | date: 'dd/MM/yyyy' }}"
                  id="endDate"
                  placeholder="End Date"
                ></ion-input>
                <ion-popover trigger="endDate" size="cover">
                  <ng-template>
                    <ion-datetime
                      presentation="date"
                      [(ngModel)]="endDate"
                      name="endDate"
                    >
                    <div slot="title">{{year}}</div>
                  </ion-datetime>
                  </ng-template>
                </ion-popover>
              </ion-item>
            </ion-col>
            
            
            <ion-col size="4" class="ion-text-center">
              <ion-button type="submit">Submit</ion-button>
              <ion-button color="danger" type="reset">Cancel</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th>Sr. No.</th>
            <th>User ID</th>
            <th>Email</th>
            <th>DB Name</th>
            <th>Search Key</th>
            <th>Search Value</th>
            <th>Created On</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>9579743709</td>
            <td>sagarsalunkhe200@gmail.com</td>
            <td>Obicas infotech</td>
            <td></td>
            <td></td>
            <td>07-10-2022 4:30 PM</td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</ion-content>