.card {
    width: 450px; margin: 0 auto; border: solid 1px #e0e0e0;
    margin-top: 100px;
    padding: 30px;
}

ion-button { margin-top: 20px; }

.card h2 { font-size: 30px !important; }

.card img { width: 160px; }